
@font-face {
  font-family: 'EuclidFlex';
  src: url("../fonts/euclidflex/EuclidFlex-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidFlex';
  src: url("../fonts/euclidflex/EuclidFlex-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'EuclidFlex';
  src: url("../fonts/euclidflex/EuclidFlex-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidFlex';
  src: url("../fonts/euclidflex/EuclidFlex-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'EuclidFlex';
  src: url("../fonts/euclidflex/EuclidFlex-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidFlex';
  src: url("../fonts/euclidflex/EuclidFlex-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
