
// Elements
// ----------------------------------------------------------------------------

.vs-region {
  @include clearfix();
  display: block;
  padding: 2rem 0;
}


// Modifiers
// ----------------------------------------------------------------------------

.vs-region--no-padding {
  padding: 0;
}

.vs-region--dark {
  background-color: $c-black;
}

.vs-region--light-gray {
  background-color: #f0f0f0;
}

.vs-region--invisible {
  display: none;
}

.vs-region--gradient-blue {
  @include gradient-directional(#1F85FF, #4231CB, 90deg);
}

.vs-region--gradient-teal {
  @include gradient-directional(#01B9C0, #001642, 90deg);
}

.vs-region--gradient-orange {
  @include gradient-directional(#FF5858, #FFE386, 90deg);
}

.vs-region--gradient-purple {
  @include gradient-directional(#9D50BB, #3A2899, 90deg);
}

.vs-region--gradient-brown {
  @include gradient-directional(#840324, #061161, 90deg);
}

.vs-region--gradient-rose {
  @include gradient-directional(#F857A6, #FF5858, 90deg);
}

.vs-region--gradient-violet {
  @include gradient-directional(#FB8B5F, #504EA1, 90deg);
}


// Responsive
// ----------------------------------------------------------------------------

@media screen and (min-width: $main-nav-breakpoint) {
  .vs-region--fixed-header {
    padding-top: 7rem;
  }
}
