
// Default elements
// ----------------------------------------------------------------------------
.tooltip {
  display: none;

  > .close {
    position: absolute;
    top: 13px;
    right: 20px;

    width: 11px;
    height: 11px;
    float: none;

    color: $c-white;
    opacity: 1;

    cursor: pointer;

    &:before, &:after {
      position: absolute;
      left: 4px;
      top: 0px;
      background-color: $c-white;
      content: " ";
      width: 2px;
      height: 12px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.tooltip-inner {
  font-family: $font-family-sans-serif;
  font-weight: 500;
  font-size: .625rem;
  line-height: 0.875rem;
  letter-spacing: 0;

  text-align: left;
}


// Elements
// ----------------------------------------------------------------------------

.vs-tooltip-trigger {
  @include transform(translateY(-50%));
  height: 1.5rem;
  width: 1.5rem;
  z-index: 1;
  color: $c-white;
  background-color: $tooltip-bg;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 1.7rem;
  display: none;
  position: absolute;
  top: 50%;
  right: -1.875rem;

  &:hover {
    color: $c-white;
  }

  &:focus {
    color: $c-white;
    outline: 0;
  }
}


// Responsive
// ----------------------------------------------------------------------------

.vs-tooltip-trigger--inline {
  @include transform(none);
  position: static;
  margin-left: .625rem;
}

// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {
  .vs-tooltip-trigger {
    display: inline-block;
  }

  .tooltip {
    display: block;
  }
}
