
// Elements
// ----------------------------------------------------------------------------

.vs-region {
  @include clearfix();
  display: block;
  padding: 2rem 0;
}


// Modifiers
// ----------------------------------------------------------------------------

.vs-region--no-padding {
  padding: 0;
}

.vs-region--dark {
  background-color: $c-black;
}

.vs-region--light-gray {
  background-color: #f0f0f0;
}

.vs-region--invisible {
  display: none;
}

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-region--gradient-#{$color} {
    @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), map_get($map, 'rotate'));
  }
}


// Responsive
// ----------------------------------------------------------------------------

@media screen and (min-width: $main-nav-breakpoint) {
  .vs-region--fixed-header {
    padding-top: 7rem;
  }
}
