
// Blocks
// ----------------------------------------------------------------------------

vs-promo-banner,
.vs-promo-banner {
  display: block;
}

// Elements
// ----------------------------------------------------------------------------

.vs-promo-banner-block-wrapper {
  position: relative;
  min-width: 20rem;
  min-height: 16.25rem;
  width: 100%;
  overflow: hidden;
}

.vs-promo-banner__background {
  width: 100%;
  min-height: 16.25rem;

  background-repeat: no-repeat;
  background-size: cover;
}

.vs-promo-banner__content-wrapper {
  background-color: $c-white;
  min-height: 16.5625rem;

  padding: 1.875rem 2.5rem 1.875rem 2.5rem;
}

.vs-promo-banner__title {
  position: relative;
  display: block;

  margin: 0 0 1.2rem 0;

  font-family: $font-family-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25rem;

  text-transform: uppercase;
  text-align: center;
}

.vs-promo-banner__content {
  text-align: center;
  margin-bottom: 0.9375rem;

  &--with-cta-button {
    text-align: center;
    margin-bottom: 3.4rem;
  }
}

.vs-promo-banner__ctaButton-wrapper {
  position: absolute;
  left: 2.5rem;
  bottom: 1.875rem;
  width: calc(100% - 5rem);

  text-align: center;
  text-transform: uppercase;
}

.vs-promo-banner__ctaText {
  font-family: $font-family-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25rem;

  text-transform: uppercase;
  text-align: center;

  color: $c-blue;
}

.vs-promo-banner__caption {
  position: absolute;
  right: 4.1875rem;
  bottom: 1.25rem;
  left: 35.4375rem;

  font-family: $font-family-sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  color: $c-white;
  line-height: 1.5rem;
  text-transform: uppercase;

  text-align: right;  
}

// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(lg) {
  .vs-promo-banner-block-wrapper {
    min-height: 26.875rem;
  }

  .vs-promo-banner__background {
    min-height: 26.875rem;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .vs-promo-banner__content-wrapper {
    @include border-radius(.625rem);

    left: 4.1875rem; 

    width: 31.25rem;
    min-height: 24.375rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    padding: 1.84rem 4.375rem 2.5rem 1.875rem;
  }

  .vs-promo-banner__title {
    margin-bottom: 2.8rem;

    font-size: 3.125rem;
    line-height: 3.125rem;

    text-align: left;

    &:after {
      content: "";
      position: absolute;
      bottom: -1.45rem;
      left: 0;
      width: 2.5rem;
      height: 0.25rem;
      background-color: $c-blue;
    }
  }

  .vs-promo-banner__content {
    text-align: left;
    margin-bottom: 1.25rem;

    &--with-cta-button {
      text-align: left;
      margin-bottom: 4rem;
    }
  }

  .vs-promo-banner__ctaText {
    text-align: left;
  }  

  .vs-promo-banner__ctaButton-wrapper {
    left: 1.875rem;
    bottom: 2.5rem;
    width: calc(100% - 3.75rem);

    text-align: left;
  }
}
