
// Blocks
// ----------------------------------------------------------------------------

vs-accordion,
.vs-accordion {
  @include clearfix();
  display: block;
}


// Elements
// ----------------------------------------------------------------------------

.vs-accordion__title {
    padding: .938rem 0 .625rem 1.875rem;
    font-family: $font-family-serif;
    text-transform: uppercase;
    color: $c-black;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 500;
}

.vs-accordion__wrapper {
  width: 100%;
  margin: auto .625rem;
}

.vs-accordion__panel {
  background-color: $c-white;
  border-bottom: .03125rem solid rgba(208,208,208, .4);
}

.vs-accordion__panel:first-child {
  border-top-right-radius: .625rem;
  border-top-left-radius: .625rem;
}

.vs-accordion__panel:last-child {
  border: none;
  border-bottom-right-radius: .625rem;
  border-bottom-left-radius: .625rem;
}

.vs-accordion__panel-heading {

  > a {
    display: block;
    padding: .938rem 1.25rem;
    text-align: center;
  }

  > a[aria-expanded=true] {
    background-color: $c-gray-light;
    padding-bottom: 1.25rem;

    & .vs-accordion__panel-title {
      padding-bottom: .938rem;
    }

    & .vs-accordion__arrow {
      @include transform(rotate(-90deg));
      top: calc(50% - .688rem);
      right: -.625rem;
    }
  }
}

.vs-accordion__panel:first-child
  & .vs-accordion__panel-heading {

  > a {
    padding: 1.563rem 1.25rem;
    border-top-right-radius: .625rem;
    border-top-left-radius: .625rem;
  }

  > a[aria-expanded=true] {
    padding-bottom: 1.25rem;
  }
}

.vs-accordion__panel:last-child
  & .vs-accordion__panel-heading {

  > a {
    padding: 1.563rem 1.25rem;
    border-bottom-right-radius: .625rem;
    border-bottom-left-radius: .625rem;
  }

  > a[aria-expanded=true] {
    padding-bottom: 1.25rem;
  }
}

.vs-accordion__panel-title {
    position: relative;
    margin: 0;
    padding-right: 1.25rem;
    font-family: $font-family-serif;
    text-transform: uppercase;
    color: $c-black;
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.vs-accordion__panel-text {
  
  > p {
    font-family: $font-family-sans-serif;
    font-size: .75rem;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, 0.6);
  }
}

.vs-accordion__arrow {
  @include transform(rotate(90deg));
  position: absolute;
  display: block;
  top: calc(50% - .5rem);
  right: -.313rem;
  height: .625rem;
  font-family: $font-family-serif;
  color: $c-black;
  font-size: 1.688rem;
  font-weight: 300;
  line-height: 0;
}


// // Responsive
// // ----------------------------------------------------------------------------

@include media-breakpoint-up(sm) {

  .vs-accordion__title {
    margin: .625rem 1.25rem;
    padding: 0;
    font-size: 1.563rem;
    line-height: 1.875rem;
  }

  .vs-accordion__wrapper {
    width: 100%;
    margin: auto 1.25rem;
  }

  .vs-accordion__panel-heading {

    > a {
      padding: 1.125rem 6.25rem;
    }
  }

  .vs-accordion__panel-heading {

    > a[aria-expanded=true] {
      padding-bottom: 1.438rem;

      & .vs-accordion__panel-title {
        padding-bottom: 1.438rem;
      }

      & .vs-accordion__arrow {
        top: calc(50% - 1.063rem);
        right: -4.625rem;
      }
    }
  }

  .vs-accordion__panel:first-child
    & .vs-accordion__panel-heading,
  .vs-accordion__panel:last-child
    & .vs-accordion__panel-heading {

    > a {
      padding: 1.438rem 6.25rem;
    }

    > a[aria-expanded=true] {
      padding-bottom: 1.438rem;
    }
  }

  .vs-accordion__panel-title {
      padding: 0;
      font-size: 1.25rem;
      line-height: 1.5rem;
  }

  .vs-accordion__panel-text {

    > p {
      font-size: .938rem;
      line-height: 1.5rem;
    }
  }

  .vs-accordion__arrow {
    top: calc(50% - .688rem);
    right: -4.125rem;
    height: .813rem;
    font-size: 2rem;
  }

}

@include media-breakpoint-up(md) {

  .vs-accordion__panel-heading {

    > a {
      padding: 1.125rem 8.75rem;
    }
  }

  .vs-accordion__panel-heading {

    > a[aria-expanded=true] {
      padding-bottom: 1.438rem;

      & .vs-accordion__panel-title {
        padding-bottom: 1.438rem;
      }

      & .vs-accordion__arrow {
        right: -6.125rem;
      }
    }
  }

  .vs-accordion__panel:first-child
    & .vs-accordion__panel-heading,
  .vs-accordion__panel:last-child
    & .vs-accordion__panel-heading {

    > a {
      padding: 1.438rem 8.75rem;
    }

    > a[aria-expanded=true] {
      padding-bottom: 1.438rem;
    }
  }

  .vs-accordion__arrow {
    right: -5.625rem;
  }

}

@include media-breakpoint-up(lg) {

  .vs-accordion__panel-heading {

    > a {
      padding: 1.125rem 11.25rem;
    }
  }

  .vs-accordion__panel-heading {

    > a[aria-expanded=true] {
      padding-bottom: 1.438rem;

      & .vs-accordion__panel-title {
        padding-bottom: 1.438rem;
      }

      & .vs-accordion__arrow {
        right: -5.063rem;
      }
    }
  }

  .vs-accordion__panel:first-child
    & .vs-accordion__panel-heading,
  .vs-accordion__panel:last-child
    & .vs-accordion__panel-heading {

    > a {
      padding: 1.438rem 11.25rem;
    }

    > a[aria-expanded=true] {
      padding-bottom: 1.438rem;
    }
  }

  .vs-accordion__arrow {
    right: -4.563rem;
  }

}

@include media-breakpoint-up(xl) {

  .vs-accordion__panel-heading {

    > a {
      padding: 1.125rem 12.5rem;
    }
  }

  .vs-accordion__panel-heading {

    > a[aria-expanded=true] {
      padding-bottom: 1.438rem;

      & .vs-accordion__panel-title {
        padding-bottom: 1.438rem;
      }

      & .vs-accordion__arrow {
        right: -3.875rem;
      }
    }
  }

  .vs-accordion__panel:first-child
    & .vs-accordion__panel-heading,
  .vs-accordion__panel:last-child
    & .vs-accordion__panel-heading {

    > a {
      padding: 1.438rem 12.5rem;
    }

    > a[aria-expanded=true] {
      padding-bottom: 1.438rem;
    }
  }

  .vs-accordion__panel-text {

    > p {
      padding-left: .938rem;
      padding-right: .938rem;
    }
  }

  .vs-accordion__arrow {
    right: -3.375rem;
  }

}
