
// Blocks
// ----------------------------------------------------------------------------

vs-basic-content-block,
.vs-basic-content-block {
  @include clearfix();
  display: block;
}


// Elements
// ----------------------------------------------------------------------------

.vs-basic-content-block-wrapper {
  border-radius: .625rem;
  background-color: $c-white;
}

.vs-basic-content-block__hero-image {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  background-position: center top;
  background-size: cover;
  border-radius: .625rem .625rem 0 0;
  min-height: 16.25rem;
}

.vs-basic-content-block__hero-title {
  font-family: $font-family-serif;
  margin-bottom: 0;
  color: white;
  text-transform: uppercase;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.25rem;
}

.vs-basic-content-block__text-wrapper {
  padding: 1.25rem;
}

.vs-basic-content-block__static-title {
  font-family: $font-family-serif;
  margin-bottom: 0;
  padding: 1.25rem 1.25rem 0;
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: $c-black;
  text-transform: uppercase;
}

.vs-basic-content-block__date {
  font-family: $font-family-serif;
  font-size: .75rem;
  color: $c-black;
  text-transform: uppercase;
  margin-bottom: .9375rem;
}

.vs-basic-content-block__image {
    height: 120px;
    min-width: 454px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 12px;
}


// Modifiers
// ----------------------------------------------------------------------------

.vs-scroller--basic-content-block {
  width: 100%;
  margin-bottom: 1.438rem;
  background-color: transparent;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(sm) {

  .vs-basic-content-block__image {
      height: 140px;
      min-width: 544px;
  }

}

@include media-breakpoint-up(md) {

  .vs-basic-content-block__hero-image {
    min-height: 28.75rem;
  }

  .vs-basic-content-block__hero-title {
    font-size: 3.125rem;
    line-height: 3.438rem;
    max-width: 43.75rem;
  }

  .vs-basic-content-block__text-wrapper {
    padding: 2.125rem 2.5rem;
  }

  .vs-basic-content-block__static-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding-top: 1.9375rem;
    padding-left: 1.8125rem;  
  }

  .vs-basic-content-block__date {
    font-size: 1rem;
    color: rgba($c-black, .8);
  }

  .vs-basic-content-block__image {
      height: 184px;
      min-width: 740px;
  }
  
}
