
#content {
  margin-top: $account-nav-height + $main-nav-height-mobile;
  background-color: white;

  @media (min-width: $screen-sm-min) {
    margin-top: $account-nav-height + $main-nav-height;
  }

  > .container {
    padding: 24px 0 48px 0;
  }
}
