
#footer-menu {
  @media (min-width: $screen-md-min) {
    @include display-flex();
    @include justify-content(space-between);
    padding-right: $grid-gutter-width;
  }

  @media (max-width: $screen-sm-max) {
    margin-bottom: 32px;
  }

  a {
    @include transition(all 0.3s);
    @include scale(1);
    text-decoration: none;
    font-weight: 600;
    display: inline-block;

    &:hover {
      @include scale(1.1);
    }
  }

  li {
    @media (max-width: $screen-sm-max) {
      display: block;
    }
  }
}

#social-networks {
  @include display-flex();
  @include justify-content(space-between);
  max-width: $screen-xs-min - 100px;

  a {
    @include transition(all 0.3s);
    @include scale(1);
    text-decoration: none;
    font-size: 23px;
    display: inline-block;

    @media (min-width: $screen-md-min) {
      font-size: 18px;
    }

    &:hover {
      @include scale(1.1);
    }
  }

  li {
    padding-right: 3%;
  }
}

.footer-navigation,
.footer-meta {
  a {
    color: white;
  }
}

.footer-navigation {
  position: relative;
  color: white;
  background-color: $c-red;
  padding: 32px 0;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $screen-md-min) {
    line-height: 60px;
  }

  .logo {
    display: block;
    height: 60px;
    width: 123px;
    background: transparent url('../img/logo.svg') no-repeat 0 0;
    overflow: hidden;
    text-indent: -200em;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 32px;
    }
  }
}

.footer-meta {
  color: white;
  background-color: $c-red-dark;
  text-align: right;
  line-height: 60px;
  height: 60px;
}

#goto-top {
  display: block;
  position: absolute;
  top: 30px;
  padding-top: 20px;
  right: 24px;
  line-height: 1em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  @media (min-width: $screen-md-min) {
    top: 40px;
  }

  &:before {
    @include transition(all 0.3s);
    @include translate3d(0,0,0);
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 31px;
    height: 20px;
    background: url('../img/arrow-up.svg') no-repeat top center;
    display: block;
  }

  &:hover {
    &:before {
      @include translate3d(0,-5px,0);
    }
  }
}
