// Elements
// ----------------------------------------------------------------------------

label {
  font-family: $font-family-sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;

  color: $c-black;

  margin-bottom: .3125rem;
}

.form-control {

  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.25rem;

  color: $c-black;
  max-width: 21.75rem;

  &:focus ~ .vs-focus-label,
  &.vs-form-control--not-empty ~ .vs-focus-label {

    color: #767676;
    opacity: 1;

    top: 0.5rem;
    font-size: 0.625rem;
    line-height: 0.75rem;
  }

  &:focus {
    color: $c-black;
  }
}

.vs-form-header {
  font-family: $font-family-serif;
  color: $c-orange-bright;
  text-transform: uppercase;
  font-size: 1.625rem;
  margin-bottom: .625rem;
  margin-top: 2rem;
}

.vs-form-group {
  position: relative;
  margin-bottom: .625rem;
  line-height: 0;

  .form-control {
    padding: 0.9375rem 0.625rem 0;
    height: 3.125rem;
    display: inline-block;
  }

  .vs-textarea {
    height: 8.75rem;
    padding-top: 1.25rem;
    padding-bottom: 0.3125rem;
    resize: none;
  }

  .vs-form-group--radio-buttons + & {
    padding-top: 0.25rem;
  }
}

.vs-focus-label {
  @include transition(all .2s ease);

  opacity: .6;

  cursor: text;

  position: absolute;
  left: 0.625rem;
  top: 0.9375rem;
}

// Select group
// ----------------------------------------------------------------------------

.vs-select-wrapper {
  display: inline-block;
  color: $c-black;
  font-size: 0.875rem;
  width: 100%;
  max-width: 21.75rem;
  border: 0.0625rem solid rgba($c-black, .2);
  border-radius: 0.25rem;
  padding: 0 .625rem;
  position: relative;
  line-height: 0.9375rem;

  > label {
    opacity: .6;
    font-size: 0.625rem;
    margin-bottom: 0;
  }
}

.vs-select-group {
  width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  > label {
    margin-bottom: 0;
  }
}

.vs-select-group__select {
  @include transition(all .2s);
  border: 0;
  background-color: transparent;
  text-align: center;
  text-align-last: center;
  width: 100%;
  color: $c-black;

  &:focus {
    outline: 0;
  }
}

.vs-select-group__label--day {
  width: 20%;
}

.vs-select-group__label--month,
.vs-select-group__label--year {
  width: 38.5%;
}

.vs-select-group__label--full {
  width: 100%;

  > .vs-select-group__select {
    text-align-last: left;
  }
}

.vs-select-group__select--empty {
  .selectize-dropdown,
  .selectize-input,
  .selectize-input input {
    color: #767676;
  }
}


// Inline forms
// ----------------------------------------------------------------------------

.vs-form-group--checkboxes > div,
.vs-form-group--radio-buttons > div {
  display: inline-block;

  & {
    padding-right: 1.875rem;
  }

  &:last-child,
  &:only-child {
    padding-right: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}


// Disabled forms
// ----------------------------------------------------------------------------

.vs-form--disabled {

  .vs-form-label {
    color: rgba($c-black, .7);
    cursor: not-allowed;
  }
}


// Radio buttons
// ----------------------------------------------------------------------------

.vs-form-group--radio-buttons {

  .vs-form-group + & {
    padding-top: 0.5625rem;
  }

  .vs-form-group--checkboxes + & {
    padding-top: 0.0625rem;
  }

  & + & {
    padding-top: 0.3125rem;
  }
}

.vs-form-radio {
  padding-bottom: 0.9375rem;

  &:last-child {
    padding-bottom: 0;
  }
}

.vs-form-input--radio {
  position: absolute;
  opacity: 0;
  left: -625rem;

  &:focus ~ .vs-form-label--radio:before {
    @include box-shadow(0 0 3px 2px rgba($c-black, .2));

    outline: none;
    border-radius: 50%;
  }
}

.vs-form-label--radio {
  font-size: 0.875rem;
  padding-left: 1.875rem;
  position: relative;
  cursor: pointer;

  &:before {
    @include transition(all .2s);
    @include box-shadow(0 0 0 1px rgba($c-black, .2));
    content: '';
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.125rem;
  }

  &:after {
    @include transition(all .2s);
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0.3125rem;
    left: 0.1875rem;
  }

  .vs-form-input--radio:checked + &:after {
    background-color: $c-orange-bright;
  }
}

// Checkboxes
// ----------------------------------------------------------------------------

.vs-form-group--checkboxes {

  .vs-form-group + & {
    padding-top: 0.625rem;
  }

  & + & {
    padding-top: 0.125rem;
    padding-bottom: 0;

    .vs-form-check {
      padding-bottom: 0.1875rem;
    }
  }

  .vs-form-group--radio-buttons + & {
    padding-top: 0.375rem;
  }

  & + .vs-form-group {
    padding-top: 0.125rem;
  }

  & + .vs-form-group--radio-buttons {
    padding-top: 0.0625rem;
  }
}

.vs-form-check {
  padding-bottom: 0.1875rem;

  &:last-child {
    padding-bottom: 0;
  }
}

.vs-form-input--check {
  position: absolute;
  opacity: 0;
  left: -625rem;

  &:focus ~ .vs-form-label--check:before {
    @include box-shadow(0 0 3px 1px rgba($c-black, .2));

    outline: none;
  }
}

.vs-form-label--check {
  padding-left: 1.875rem;
  position: relative;
  cursor: pointer;

  &:before {
    @include transition(all .2s);
    content: '';
    border: 1px solid rgba($c-black, .2);
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.125rem;
  }

  &:after {
    @include transition(all .2s);
    content: '';
    background: transparent url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTRweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTQgMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+R3JvdXA8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIj4gICAgICAgIDxnIGlkPSJHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMi4wMDAwMDAsIDIuMDAwMDAwKSIgc3Ryb2tlPSIjRkYwMDQwIiBzdHJva2Utd2lkdGg9IjIiPiAgICAgICAgICAgIDxwYXRoIGQ9Ik0zLDggTDEwLDAiIGlkPSJMaW5lIj48L3BhdGg+ICAgICAgICAgICAgPHBhdGggZD0iTTMsOCBMMCw1IiBpZD0iTGluZSI+PC9wYXRoPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+') no-repeat center center;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.125rem;
    opacity: 0;
  }

  .vs-form-input--check:checked + &:after {
    opacity: 1;
  }
}

// Validations
// ----------------------------------------------------------------------------

.vs-has-error {
  .form-control,
  .vs-select-wrapper,
  .vs-form-label--check:before {
    border-color: $state-danger;
  }

  .vs-form-input--check:focus ~ .vs-form-label--check:before {
    @include box-shadow(0 0 3px 1px $state-danger);
  }

  .vs-form-label--radio:before {
    @include box-shadow(0 0 0 1px $state-danger);
  }

  .vs-form-input--radio:focus ~ .vs-form-label--radio:before {
    @include box-shadow(0 0 3px 2px $state-danger);
  }

  .vs-form--disabled .vs-form-label--radio:before {
    @include box-shadow(0 0 0 1px rgba($c-black, .2));
  }

  .vs-form--disabled .vs-form-label--check:before {
    border-color: rgba($c-black, .2);
  }
}

.vs-error-label {
  color: $state-danger;
  font-size: .625rem;
  line-height: 0.75rem;

  padding: .3125rem 0;

  .vs-form-radio + &,
  .vs-form-check + & {
    padding-top: 0;
  }
}

// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {

  label {
    font-size: 0.9375rem;
    line-height: 1.5rem;

    .vs-select-wrapper > & {
      line-height: 0.75rem;
      margin-bottom: 0.125rem;
    }
  }

  .form-control {
    font-size: 0.9375rem;
    line-height: 1.5rem;

    &:focus ~ .vs-focus-label,
    &.vs-form-control--not-empty ~ .vs-focus-label {

      top: 0.4375rem;
      font-size: 0.625rem;
      line-height: 0.75rem;
    }
  }

  .vs-focus-label {
    top: 0.8125rem;

    &--radio {
      font-size: 0.9375rem;
    }
  }

  .vs-form-label--check:before,
  .vs-form-label--check:after {
    top: 0.25rem;
  }

  .vs-error-label {
    padding: .5rem 0;
  }

  .vs-form-group {

    & + .vs-form-group--radio-buttons {
      padding-top: 0.6875rem;
    }

  }

  .vs-form-check {
    padding-bottom: 0;
  }

  .vs-form-group--checkboxes {

    & + .vs-form-group {
      padding-top: 0.3125rem;
    }

    & + .vs-form-group--radio-buttons {
      padding-top: 0;
      margin-top: 0.75rem;
    }

    & + & {
      padding-top: 0.125rem;
      padding-bottom: 0;

      .vs-form-check {
        padding-top: 0.1875rem;
        padding-bottom: 0;
      }
    }
  }

  .vs-form-radio {
    padding-bottom: 0;
  }

  .vs-form-group--radio-buttons {

    & + & {
      padding-top: 0.3125rem;
    }

    & + .vs-form-group {
      padding-top: 0.25rem;
    }

    & + .vs-form-group--checkboxes {
      padding-top: 0.0625rem;
    }
  }

}
