
.navbar-administration {
  &:not(.responsive-preview-frame) {
    .vs-menu-trigger { top: 40px; }
    .vs-overlay-blur { padding-top: 39px; }
  }

  &.navbar-tray-open.navbar-fixed {
    .vs-menu-trigger { top: 80px; }
    .vs-overlay-blur { padding-top: 80px; }
  }
}
