
// This file covers the subnav component
// ----------------------------------------------------------------------------

.vs-subnav--pinned-on-main-nav {
  transform: translateY(66px);

  &:not(.vs-subnav--clone) {
    transform: translateY(0);
  }

  @include media-breakpoint-up(lg) {
    transform: translateY(68px);
  }

  @include media-breakpoint-up(xl) {
    transform: translateY(56px);
  }
}

