
@mixin color-fill ($color, $gradient...) {
  [color-fill="#{$color}"] {
    @include background-image(linear-gradient($gradient...));

    [color-target="#{$color}"] & {
      opacity: 1;
    }

    #header[color-target="#{$color}"] & {
      opacity: 0.5;
    }
  }
}

[color-container] {
  position: absolute;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

[color-target] {
  position: relative;
}

[color-fill] {
  transition: opacity 0.3s ease-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

[color-target=""] [color-fill="orange-yellow"] {
  opacity: 1;
}

@include color-fill('blue-red', to right, $c-red, $c-blue);
@include color-fill('blue-purple', to right, #1897d8, #9b0c54);
@include color-fill('green-blue', to right, #39f19c, #073ba0);
@include color-fill('orange-yellow', to right, #fc111c, #fdf04c);
@include color-fill('purple-blue', to right, #b52de1, #3c26fc);
@include color-fill('red-pink', to right, #fc0e1d, #f93b8f);
@include color-fill('yellow-green', to right, #1eb66e, #1eb66e);
